@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  height: 100vh;
  overflow: hidden;
}


.contenedorDeTarjetas {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  column-gap: 18px;
  row-gap: 18px;
  perspective: 1000px;

  .tarjeta {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    
    .cara {
      font-size: 16px;
      width: 100px;
      height: 100px;
      border-radius: 15px;
      padding: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      text-align: center;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      backface-visibility: hidden;
    }
    
    .cara--frontal {
      grid-area: 1 / 1;
      background-color: #516dff;
      color: #fff;
      transform: rotateY(180deg);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .cara--verbo {
      grid-area: 1 / 1;
      background-color: #e74c3c;
      color: #fff;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .cara--sustantivo {
      grid-area: 1 / 1;
      background-color: #3498db;
      color: #fff;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .cara--adjetivo {
      grid-area: 1 / 1;
      background-color: #27ae60;
      color: #fff;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .cara--adverbio {
      grid-area: 1 / 1;
      background-color: #f1c40f;
      color: #333;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .cara--cortesia {
      grid-area: 1 / 1;
      background-color: #e67e22;
      color: #fff;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  
  }
  
  .tarjeta:active {
    transform: scale(.94);
    transition: transform .1s;
  }

  .tarjeta.voltear {
    transform: rotateY(180deg);
  }
}


