@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  height: 100vh;
  overflow: hidden;
}


.contenedorTarjetas {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  column-gap: 18px;
  row-gap: 18px;

  .tarjeta {
    position: relative;
    transform: scale(1);

    .cara {
      width: 100px;
      height: 100px;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 16px;
      padding: 5px;
      position: absolute;
      top: 0;
      left: 0;
    }

    .no-seleccionable {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    
    .cara--frontal {
      background-color: #516dff;
      color: #fff;
      // box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .cara--verbo {
      background-color: #e878a1;
      color: #fff;
    }
    
    .cara--sustantivo {
      background-color: #1aa4de;
      color: #fff;
    }
  }

  .tarjeta:active {
    transform: scale(.94);
    transition: transform .2s;
  }
}


